# Ignore node modules folder
NextLanguage-Source/node_modules/

# Ignore more build files
NextLanguage-Source/build/lib/log/
NextLanguage-Source/build.config.nxlf
NextLanguage-Source/package-lock.json
NextLanguage-Source/builded

# Testing files
Custom/App.js
Custom/default.js

# Single project built files
BUILD_CONFIG
CONFIG
app.nxl
index.html
preload.js
postload.js
