# Ignore node modules folder
NextLanguage-Source/node_modules/
node_modules/

# Ignore more build files
NextLanguage-Source/build/log
NextLanguage-Source/build.config.nxlf
NextLanguage-Source/package-lock.json
NextLanguage-Source/builded

src/build/log
src/build.config.nxlf
src/package-lock.json
src/builded

# Testing files
Custom/App.js
Custom/default.js

# Single project built files
main.config.file
package.config.val
*.nxl
index.html
preload.js
postload.js
nextlang

!NextLanguage/build/config
!generator/bin/scripts/nextlang
